.search-wrapper { position: relative; width: 140px; margin-left: 11px; }

.blurred input.prettysearch { background-position: center top; }
.blurred .search-left { background-position: left top; }
.blurred .search-right {  background-position: right top; }
.search-wrapper.empty.blurred input { color: #7E7E7E; }
.search-wrapper .search-reset { position: absolute; width: 11px; height: 11px; overflow:hidden; z-index: 1; right: 8px; top: 7px; background: url(images/search-close.gif); display: block; cursor: pointer; }
.search-wrapper .search-loading { position: absolute; width: 11px; height: 11px; overflow:hidden; z-index: 1; right: 8px; top: 7px; background: url(images/search-indicator.gif); display: block; }
.search-wrapper.empty .search-reset { display: none; }

input.prettysearch, .search-left, .search-right {
	display: block; 
	position: absolute;
	top: 0;
	height: 25px;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent url(images/searchfield.png);
/*	background: transparent url(images/searchfield_black.gif);*/
	background-repeat: no-repeat;
	/*behavior: url(../../commons/iepngfix/iepngfix.htc);*/
}
input.prettysearch { 
	font: 11px "Lucida Grande", Geneva, Arial, sans-serif;
	background-position: center bottom; 
	background-repeat: repeat-x; 
	padding-top: 6px;
	height: 19px;
	width: 110px;
	right: 10px;
}
.search-left { 
	background-position: left bottom; 
	left: 0; 
	width: 20px;
}
.search-right { 
	background-position: right bottom; 
	right: 0; 
	width: 10px;
}
label .prettyplaceholder { display: none; }
